*{
  background-color: seashell;
}
h1{
  text-transform: uppercase;
  font-size: 22px;
  text-shadow: 10px 5px 10px gray,-2px -1px 3px black;
}
.one{
  width: 100%;
  height: 35px;
  border-radius: 13px;
  border: 1px ridge black;
  margin: 1px;
  margin-bottom: 30px;
  background-color: rgba(192,192,192,0.48);
  color: black;
}

p{
  color: rgba(0,0,0,0.4);
  margin-top: 0px;
}
input{
  float: right;
  margin: 20px;
  border-radius: 10px;
  background-color: darkorange;
  border: 2px solid darkorange;
  color: snow;
  padding: 2px;
  
}
h4{
  margin-bottom: 0px;
}
.ajiri{
  background-color: lawngreen;
  border-color: lawngreen;
}
